In [1]:
import json  
import zipfile
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
d1 = None  
data = None  
with zipfile.ZipFile("train.json.zip", "r") as z:
    for filename in z.namelist():
        print(filename)
        with z.open(filename) as f:
            data = f.read()
            d1 = json.loads(data.decode("utf-8"))

train.json.json

In [3]:
# Constructing DataFrame train from a dictionary d1
train = pd.DataFrame(d1)

In [4]:
d2 = None  
data = None  
with zipfile.ZipFile("test.json.zip", "r") as z:
    for filename in z.namelist():
        print(filename)
        with z.open(filename) as f:
            data = f.read()
            d2 = json.loads(data.decode("utf-8"))

test.json

In [5]:
# Constructing DataFrame test from a dictionary d2
test = pd.DataFrame(d2)

In [6]:
print(train)

        bathrooms  bedrooms                       building_id  \
4             1.0         1  8579a0b0d54db803821a35a4a615e97a
6             1.0         2  b8e75fc949a6cd8225b455648a951712
9             1.0         2  cd759a988b8f23924b5a2058d5ab2b49
10            1.5         3  53a5b119ba8f7b61d4e010512e0dfc85
15            1.0         0  bfb9405149bfff42a92980b594c28234
...           ...       ...                               ...
124000        1.0         3  92bbbf38baadfde0576fc496bd41749c
124002        1.0         2  5565db9b7cba3603834c4aa6f2950960
124004        1.0         1  67997a128056ee1ed7d046bbb856e3c7
124008        1.0         2  3c0574a740154806c18bdf1fddd3d966
124009        1.0         3  d89f514c3ed0abaae52cba7017ac0701

                    created  \
4       2016-06-16 05:55:27
6       2016-06-01 05:44:33
9       2016-06-14 15:19:59
10      2016-06-24 07:54:24
15      2016-06-28 03:50:23
...                     ...
124000  2016-04-05 03:58:33
124002  2016-04-02 02:25:31
124004  2016-04-26 05:42:03
124008  2016-04-19 02:47:33
124009  2016-04-20 05:34:00

                                              description  \
4       Spacious 1 Bedroom 1 Bathroom in Williamsburg!...
6       BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...
9       **FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...
10      A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...
15      Over-sized Studio w abundant closets. Availabl...
...                                                   ...
124000  There is 700 square feet of recently renovated...
124002  2 bedroom apartment with updated kitchen, rece...
124004  No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...
124008  Wonderful Bright Chelsea 2 Bedroom apartment o...
124009  ***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...

             display_address  \
4        145 Borinquen Place
6                  East 44th
9           East 56th Street
10       Metropolitan Avenue
15          East 34th Street
...                      ...
124000          W 171 Street
124002              Broadway
124004  210 Brighton 15th St
124008      West 21st Street
124009             E 54th St

                                                 features  latitude  \
4       [Dining Room, Pre-War, Laundry in Building, Di...   40.7108
6       [Doorman, Elevator, Laundry in Building, Dishw...   40.7513
9       [Doorman, Elevator, Laundry in Building, Laund...   40.7575
10                                                     []   40.7145
15      [Doorman, Elevator, Fitness Center, Laundry in...   40.7439
...                                                   ...       ...
124000            [Elevator, Dishwasher, Hardwood Floors]   40.8433
124002  [Common Outdoor Space, Cats Allowed, Dogs Allo...   40.8198
124004  [Dining Room, Elevator, Pre-War, Laundry in Bu...   40.5765
124008  [Pre-War, Laundry in Unit, Dishwasher, No Fee,...   40.7448
124009  [Dining Room, Elevator, Laundry in Building, D...   40.7594

        listing_id  longitude                        manager_id  \
4          7170325   -73.9539  a10db4590843d78c784171a107bdacb4
6          7092344   -73.9722  955db33477af4f40004820b4aed804a0
9          7158677   -73.9625  c8b10a317b766204f08e613cef4ce7a0
10         7211212   -73.9425  5ba989232d0489da1b5f2c45f6688adc
15         7225292   -73.9743  2c3b41f588fbb5234d8a1e885a436cfa
...            ...        ...                               ...
124000     6824800   -73.9396  a61e21da3ba18c7a3d54cfdcc247e1f8
124002     6813268   -73.9578  8f90e5e10e8a2d7cf997f016d89230eb
124004     6927093   -73.9554  a10db4590843d78c784171a107bdacb4
124008     6892816   -74.0017  c3cd45f4381ac371507090e9ffabea80
124009     6901023   -73.9712  e90f2ded843cdb2efd65ef47d9fc8029

                                                   photos  price  \
4       [https://photos.renthop.com/2/7170325_3bb5ac84...   2400
6       [https://photos.renthop.com/2/7092344_7663c19a...   3800
9       [https://photos.renthop.com/2/7158677_c897a134...   3495
10      [https://photos.renthop.com/2/7211212_1ed4542e...   3000
15      [https://photos.renthop.com/2/7225292_901f1984...   2795
...                                                   ...    ...
124000  [https://photos.renthop.com/2/6824800_0682be16...   2800
124002  [https://photos.renthop.com/2/6813268_1e6fcc32...   2395
124004  [https://photos.renthop.com/2/6927093_93a52104...   1850
124008  [https://photos.renthop.com/2/6892816_1a8d087a...   4195
124009  [https://photos.renthop.com/2/6901023_02052d90...   4280

                 street_address interest_level
4           145 Borinquen Place         medium
6                 230 East 44th            low
9          405 East 56th Street         medium
10      792 Metropolitan Avenue         medium
15         340 East 34th Street            low
...                         ...            ...
124000         620 W 171 Street            low
124002            3333 Broadway         medium
124004     210 Brighton 15th St         medium
124008     350 West 21st Street         medium
124009            123 E 54th St           high

[49352 rows x 15 columns]

In [7]:
# Find the words that appears 20000 times in original data
Features = pd.DataFrame(train.features.tolist()).stack().value_counts()
special = Features[Features>20000]
print(special)

Elevator           25915
Cats Allowed       23540
Hardwood Floors    23527
Dogs Allowed       22035
Doorman            20898
Dishwasher         20426
dtype: int64

In [8]:
# Insert extra fetures to training data
train.insert(0,"Elevator Available", 0)
train.insert(0,"Cats Allowed", 0)
train.insert(0,"Hardwood Floors Available", 0)
train.insert(0,"Dogs Allowed", 0)
train.insert(0,"Doorman Available", 0)
train.insert(0,"Dishwasher Available", 0)
train.features = train.features.astype(str)

In [9]:
# Add value 1 if attribute Avaliable/Allowed in original training data
train.loc[train['features'].str.contains('Elevator'), 'Elevator Available'] = 1
train.loc[train['features'].str.contains('Cats Allowed'), 'Cats Allowed'] = 1
train.loc[train['features'].str.contains('Hardwood Floors'), 'Hardwood Floors Available'] = 1
train.loc[train['features'].str.contains('Dogs Allowed'), 'Dogs Allowed'] = 1
train.loc[train['features'].str.contains('Doorman'), 'Doorman Available'] = 1
train.loc[train['features'].str.contains('Dishwasher'), 'Dishwasher Available'] = 1

In [10]:
# Insert extra fetures to testing data
test.insert(0,"Elevator Available", 0)
test.insert(0,"Cats Allowed", 0)
test.insert(0,"Hardwood Floors Available", 0)
test.insert(0,"Dogs Allowed", 0)
test.insert(0,"Doorman Available", 0)
test.insert(0,"Dishwasher Available", 0)
test.features = test.features.astype(str)

In [11]:
# Add value 1 if attribute Avaliable/Allowed in original testing data
test.loc[test['features'].str.contains('Elevator'), 'Elevator Available'] = 1
test.loc[test['features'].str.contains('Cats Allowed'), 'Cats Allowed'] = 1
test.loc[test['features'].str.contains('Hardwood Floors'), 'Hardwood Floors Available'] = 1
test.loc[test['features'].str.contains('Dogs Allowed'), 'Dogs Allowed'] = 1
test.loc[test['features'].str.contains('Doorman'), 'Doorman Available'] = 1
test.loc[test['features'].str.contains('Dishwasher'), 'Dishwasher Available'] = 1

In [12]:
# Seperate the data into training and testing sets
from sklearn.model_selection import train_test_split
# use number 0, 1, and 2 to determine 'low', 'medium' and 'high' of 'interest_level'
train['interest'] = train['interest_level'].apply(lambda t: 0 if t == 'low' else 1 if t == 'medium' else 2)

In [13]:
# Select 'bathrooms', bedrooms', 'lattice', 'longitude' and 'price' as features
X = train[['Dishwasher Available', 'Doorman Available', 'Dogs Allowed', 'Hardwood Floors Available', 'Cats Allowed','Elevator Available',
           'bathrooms', 'bedrooms', 'latitude', 'longitude', 'price'] ]
X_test = test[['Dishwasher Available', 'Doorman Available', 'Dogs Allowed', 'Hardwood Floors Available', 'Cats Allowed','Elevator Available',
           'bathrooms', 'bedrooms', 'latitude', 'longitude', 'price'] ]

# Select 'interest_level' as interest
Y = train['interest']

In [14]:
# Cross-Validation
from sklearn.model_selection import train_test_split 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, random_state=1)

In [15]:
# Implements the Naive Bayes Classifier
from sklearn.naive_bayes import GaussianNB

In [16]:
# training on training dataset 
classifier = GaussianNB()
# Fit Gaussian Naive Bayes according to X, Y training dataset
classifier.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [17]:
# make predictions on the testing dataset
prediction = classifier.predict(X_test)

In [18]:
print(prediction)

[1 0 1 ... 1 1 1]

In [19]:
# Make predicton of x_train and x_test
prediction1 = classifier.predict(X_train)
prediction2 = classifier.predict(X_test)

In [20]:
# Make confusion matrix
from sklearn.metrics import confusion_matrix
confusionMatrix1 = confusion_matrix(Y_train,prediction1)
confusionMatrix2 = confusion_matrix(Y_test,prediction2)

In [21]:
total1 = sum(sum(confusionMatrix1))
total2 = sum(sum(confusionMatrix2))

In [22]:
#Calculate accuracy by confusion matrix
accuracy1 = (confusionMatrix1[0,0]+confusionMatrix1[1,1])/total1
accuracy2 = (confusionMatrix2[0,0]+confusionMatrix2[1,1])/total2

In [23]:
# Print out the accuracy1
print(accuracy1)

0.2650704130221877

In [24]:
# Print out the accuracy2
print(accuracy2)

0.2641710146395826

In [25]:
# Report of Naive Bayes Classifier
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(Y_test, prediction))

              precision    recall  f1-score   support

           0       0.89      0.11      0.19     13761
           1       0.23      0.84      0.37      4441
           2       0.19      0.27      0.23      1539

    accuracy                           0.29     19741
   macro avg       0.44      0.41      0.26     19741
weighted avg       0.69      0.29      0.24     19741