In [223]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import datasets
import json  
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [224]:
df = pd.read_json (r'train.json')
#t = pd.read_json(r'test.json')
print(df)

        bathrooms  bedrooms                       building_id  \
4             1.0         1  8579a0b0d54db803821a35a4a615e97a
6             1.0         2  b8e75fc949a6cd8225b455648a951712
9             1.0         2  cd759a988b8f23924b5a2058d5ab2b49
10            1.5         3  53a5b119ba8f7b61d4e010512e0dfc85
15            1.0         0  bfb9405149bfff42a92980b594c28234
...           ...       ...                               ...
124000        1.0         3  92bbbf38baadfde0576fc496bd41749c
124002        1.0         2  5565db9b7cba3603834c4aa6f2950960
124004        1.0         1  67997a128056ee1ed7d046bbb856e3c7
124008        1.0         2  3c0574a740154806c18bdf1fddd3d966
124009        1.0         3  d89f514c3ed0abaae52cba7017ac0701

                    created  \
4       2016-06-16 05:55:27
6       2016-06-01 05:44:33
9       2016-06-14 15:19:59
10      2016-06-24 07:54:24
15      2016-06-28 03:50:23
...                     ...
124000  2016-04-05 03:58:33
124002  2016-04-02 02:25:31
124004  2016-04-26 05:42:03
124008  2016-04-19 02:47:33
124009  2016-04-20 05:34:00

                                              description  \
4       Spacious 1 Bedroom 1 Bathroom in Williamsburg!...
6       BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...
9       **FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...
10      A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...
15      Over-sized Studio w abundant closets. Availabl...
...                                                   ...
124000  There is 700 square feet of recently renovated...
124002  2 bedroom apartment with updated kitchen, rece...
124004  No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...
124008  Wonderful Bright Chelsea 2 Bedroom apartment o...
124009  ***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...

             display_address  \
4        145 Borinquen Place
6                  East 44th
9           East 56th Street
10       Metropolitan Avenue
15          East 34th Street
...                      ...
124000          W 171 Street
124002              Broadway
124004  210 Brighton 15th St
124008      West 21st Street
124009             E 54th St

                                                 features  latitude  \
4       [Dining Room, Pre-War, Laundry in Building, Di...   40.7108
6       [Doorman, Elevator, Laundry in Building, Dishw...   40.7513
9       [Doorman, Elevator, Laundry in Building, Laund...   40.7575
10                                                     []   40.7145
15      [Doorman, Elevator, Fitness Center, Laundry in...   40.7439
...                                                   ...       ...
124000            [Elevator, Dishwasher, Hardwood Floors]   40.8433
124002  [Common Outdoor Space, Cats Allowed, Dogs Allo...   40.8198
124004  [Dining Room, Elevator, Pre-War, Laundry in Bu...   40.5765
124008  [Pre-War, Laundry in Unit, Dishwasher, No Fee,...   40.7448
124009  [Dining Room, Elevator, Laundry in Building, D...   40.7594

        listing_id  longitude                        manager_id  \
4          7170325   -73.9539  a10db4590843d78c784171a107bdacb4
6          7092344   -73.9722  955db33477af4f40004820b4aed804a0
9          7158677   -73.9625  c8b10a317b766204f08e613cef4ce7a0
10         7211212   -73.9425  5ba989232d0489da1b5f2c45f6688adc
15         7225292   -73.9743  2c3b41f588fbb5234d8a1e885a436cfa
...            ...        ...                               ...
124000     6824800   -73.9396  a61e21da3ba18c7a3d54cfdcc247e1f8
124002     6813268   -73.9578  8f90e5e10e8a2d7cf997f016d89230eb
124004     6927093   -73.9554  a10db4590843d78c784171a107bdacb4
124008     6892816   -74.0017  c3cd45f4381ac371507090e9ffabea80
124009     6901023   -73.9712  e90f2ded843cdb2efd65ef47d9fc8029

                                                   photos  price  \
4       [https://photos.renthop.com/2/7170325_3bb5ac84...   2400
6       [https://photos.renthop.com/2/7092344_7663c19a...   3800
9       [https://photos.renthop.com/2/7158677_c897a134...   3495
10      [https://photos.renthop.com/2/7211212_1ed4542e...   3000
15      [https://photos.renthop.com/2/7225292_901f1984...   2795
...                                                   ...    ...
124000  [https://photos.renthop.com/2/6824800_0682be16...   2800
124002  [https://photos.renthop.com/2/6813268_1e6fcc32...   2395
124004  [https://photos.renthop.com/2/6927093_93a52104...   1850
124008  [https://photos.renthop.com/2/6892816_1a8d087a...   4195
124009  [https://photos.renthop.com/2/6901023_02052d90...   4280

                 street_address interest_level
4           145 Borinquen Place         medium
6                 230 East 44th            low
9          405 East 56th Street         medium
10      792 Metropolitan Avenue         medium
15         340 East 34th Street            low
...                         ...            ...
124000         620 W 171 Street            low
124002            3333 Broadway         medium
124004     210 Brighton 15th St         medium
124008     350 West 21st Street         medium
124009            123 E 54th St           high

[49352 rows x 15 columns]

In [225]:
# test = t
# test = test.drop('building_id', axis=1)
# test = test.drop('created', axis=1)
# test = test.drop('description', axis=1)
# test = test.drop('display_address', axis=1)
# test = test.drop('listing_id', axis=1)
# test = test.drop('photos', axis=1)
# test = test.drop('street_address', axis=1)
# test = test.drop('manager_id', axis=1)
# test = test.drop('features', axis=1)

In [226]:
data = df

data = data.drop('building_id', axis=1)
data = data.drop('created', axis=1)
data = data.drop('description', axis=1)
data = data.drop('display_address', axis=1)
data = data.drop('listing_id', axis=1)
data = data.drop('photos', axis=1)
data = data.drop('street_address', axis=1)
data = data.drop('manager_id', axis=1)

data.insert(0,"animal_allow",0)
data.insert(0,"laundry",0)
data.insert(0,"luxry",0)
data.features = data.features.astype(str)
print(data)

        luxry  laundry  animal_allow  bathrooms  bedrooms  \
4           0        0             0        1.0         1
6           0        0             0        1.0         2
9           0        0             0        1.0         2
10          0        0             0        1.5         3
15          0        0             0        1.0         0
...       ...      ...           ...        ...       ...
124000      0        0             0        1.0         3
124002      0        0             0        1.0         2
124004      0        0             0        1.0         1
124008      0        0             0        1.0         2
124009      0        0             0        1.0         3

                                                 features  latitude  \
4       ['Dining Room', 'Pre-War', 'Laundry in Buildin...   40.7108
6       ['Doorman', 'Elevator', 'Laundry in Building',...   40.7513
9       ['Doorman', 'Elevator', 'Laundry in Building',...   40.7575
10                                                     []   40.7145
15      ['Doorman', 'Elevator', 'Fitness Center', 'Lau...   40.7439
...                                                   ...       ...
124000      ['Elevator', 'Dishwasher', 'Hardwood Floors']   40.8433
124002  ['Common Outdoor Space', 'Cats Allowed', 'Dogs...   40.8198
124004  ['Dining Room', 'Elevator', 'Pre-War', 'Laundr...   40.5765
124008  ['Pre-War', 'Laundry in Unit', 'Dishwasher', '...   40.7448
124009  ['Dining Room', 'Elevator', 'Laundry in Buildi...   40.7594

        longitude  price interest_level
4        -73.9539   2400         medium
6        -73.9722   3800            low
9        -73.9625   3495         medium
10       -73.9425   3000         medium
15       -73.9743   2795            low
...           ...    ...            ...
124000   -73.9396   2800            low
124002   -73.9578   2395         medium
124004   -73.9554   1850         medium
124008   -74.0017   4195         medium
124009   -73.9712   4280           high

[49352 rows x 10 columns]

In [227]:
data.loc[data['features'].str.contains('Cats Allowed|Dogs Allowed'), 'animal_allow'] = 1
data.loc[data['features'].str.contains('Laundry'), 'laundry'] = 1
data.loc[data['features'].str.contains('Doorman|Fitness|Swimming'), 'luxry'] = 1
#data['support'][df.name.str.contains('ball')] = 'ball support'
print(data.head(20))

    luxry  laundry  animal_allow  bathrooms  bedrooms  \
4       0        1             1        1.0         1
6       1        1             0        1.0         2
9       1        1             0        1.0         2
10      0        0             0        1.5         3
15      1        1             0        1.0         0
16      1        0             0        1.0         3
18      0        1             0        2.0         3
19      0        1             0        1.0         0
23      0        0             0        0.0         1
32      0        0             1        3.0         3
33      1        1             1        1.0         0
36      1        1             1        1.0         2
38      1        1             0        1.0         0
39      0        0             0        1.0         1
42      1        1             1        2.0         2
43      0        0             0        1.0         0
44      1        0             0        1.0         2
46      1        1             1        1.0         3
49      0        0             0        1.0         1
61      1        0             0        1.0         1

                                             features  latitude  longitude  \
4   ['Dining Room', 'Pre-War', 'Laundry in Buildin...   40.7108   -73.9539
6   ['Doorman', 'Elevator', 'Laundry in Building',...   40.7513   -73.9722
9   ['Doorman', 'Elevator', 'Laundry in Building',...   40.7575   -73.9625
10                                                 []   40.7145   -73.9425
15  ['Doorman', 'Elevator', 'Fitness Center', 'Lau...   40.7439   -73.9743
16  ['Doorman', 'Elevator', 'Loft', 'Dishwasher', ...   40.7348   -73.9865
18  ['Fireplace', 'Laundry in Unit', 'Dishwasher',...   40.7302   -73.9826
19  ['Elevator', 'Laundry in Building', 'Dishwashe...   40.7769   -73.9467
23                                ['Hardwood Floors']   40.7346   -73.9811
32                   ['Cats Allowed', 'Dogs Allowed']   40.6990   -73.9943
33  ['Doorman', 'Elevator', 'Laundry in Building',...   40.7723   -73.9510
36  ['Roof Deck', 'Doorman', 'Elevator', 'Fitness ...   40.7530   -73.9959
38  ['Swimming Pool', 'Roof Deck', 'Doorman', 'Ele...   40.7610   -73.9990
39                                ['Hardwood Floors']   40.7277   -74.0000
42  ['Doorman', 'Elevator', 'Laundry in Building',...   40.7633   -73.9596
43                                    ['Reduced Fee']   40.7073   -73.9665
44         ['Doorman', 'Elevator', 'Hardwood Floors']   40.7528   -73.9709
46  ['Common Outdoor Space', 'Cats Allowed', 'Dogs...   40.7360   -73.9860
49                                ['Hardwood Floors']   40.7830   -73.9828
61                                        ['Doorman']   40.7621   -73.9486

    price interest_level
4    2400         medium
6    3800            low
9    3495         medium
10   3000         medium
15   2795            low
16   7200            low
18   6000            low
19   1945           high
23   2435            low
32   6850            low
33   2785            low
36   3100            low
38   2400         medium
39   2750            low
42   5465            low
43   3150            low
44   3750            low
46   4450           high
49   3200            low
61   2495            low

In [228]:
Features = pd.DataFrame(df.features.tolist()).stack().value_counts()

Features = Features[Features>800]
        
print(Features)

Elevator                25915
Cats Allowed            23540
Hardwood Floors         23527
Dogs Allowed            22035
Doorman                 20898
Dishwasher              20426
No Fee                  18062
Laundry in Building     16344
Fitness Center          13252
Pre-War                  9148
Laundry in Unit          8738
Roof Deck                6542
Outdoor Space            5268
Dining Room              5136
High Speed Internet      4299
Balcony                  2992
Swimming Pool            2730
Laundry In Building      2593
New Construction         2559
Terrace                  2283
Exclusive                2167
Loft                     2100
Garden/Patio             1943
Wheelchair Access        1358
Common Outdoor Space     1293
HARDWOOD                  914
Fireplace                 912
SIMPLEX                   908
prewar                    855
dtype: int64

In [229]:
# plt.boxplot(Features)
# plt.show()

In [230]:
data = data.drop('features', axis=1)

In [235]:
clf = svm.SVC(kernel='linear', C=1)
scores = cross_val_score(clf, data.drop('interest_level', axis=1), data.interest_level, cv=10)

AttributeError: module 'sklearn.svm' has no attribute 'cross_val_score'

In [219]:
X_train, X_test , y_train, y_test = train_test_split(data.drop('interest_level', axis=1), data.interest_level, test_size=0.4, random_state=0)

In [220]:
clf = svm.SVC().fit(X_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [221]:
clf.score(X_test, y_test)

0.6979383009979231